#ifndef ABC_CONFIG_H
#define ABC_CONFIG_H

/**
 * API Key for the AirBitz login servers.
 * Contact AirBitz to obtain this.
 */
#define API_KEY_HEADER "Authorization: Token <airbitz-auth-token>"

/**
 * API key for sending transactions via chain.com.
 * Contact Chain to obtain this.
 */
#define CHAIN_API_USERPWD "<chain-api-key>:<chain-api-key-secret>"

/**
 * Private key for Hiddenbits promotion.
 * Sorry, this is not something we can share.
 * Decoding hbits QR codes is the only feature that uses this,
 * and the rest of the app works fine without it.
 */
#define HIDDENBITZ_KEY "0000000000000000000000000000000000000000000000000000000000000000"

#endif
